body{
	font-family: "Palatino Linotype", serif;
}

/*Section ---------------------------*/
/*Tools*/
.solarPanel-section-tools{
	position: fixed;
	width: 150px;
	float: left;
}
.solarPanel-section-tools>button{
	width: 100%;
	margin: 2px 0;
}

/*Content*/
.solarPanel-main{
	position: relative;
	/*overflow: auto;*/
	margin-left: 170px;
}

/*Table*/
#solarPanelTable{
	display: none !important;
}
.solarPanelTable{
	position: relative;
	width: 500px !important;
	margin: 0 auto;
	/*display: none;*/
}
.solarPanelTable th{
	text-align: center;
}
.table-close{
	position: absolute;
	right: 10px;
	top: 10px;
}

/*Input ------------------------------*/
#addPanel.input{
	width: 380px;
	left: 35%;
	z-index: 1;
}