body{
	font-family: "Palatino Linotype", serif;
}

/*Section ---------------------------*/
/*Tools*/
.section-tools{
	position: fixed;
	width: 150px;
	float: left;
}
.section-tools>button{
	width: 100%;
	margin: 2px 0;
}

/*Content*/
main{
	/*border: 1px solid;*/
	overflow: auto;
	margin-left: 150px;
}

/*Table pattern*/
table{
	position: relative;
	width: 500px !important;
	margin: 0 auto;
}
.table-close{
	position: absolute;
	right: 10px;
	top: 10px;
}

/*Input ------------------------------*/
#addPanel.input{
	width: 380px;
	left: 35%;
}